[Unit]
Description=SDR Script Monitor with GCS
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/usr/local/bin/sdr_monitor.sh
Restart=always
RestartSec=30
User=1000
WorkingDirectory=/tmp
Environment="PYTHONUNBUFFERED=1"
StandardOutput=file:/var/log/sdr_service.log
StandardError=file:/var/log/sdr_service.log

[Install]
WantedBy=multi-user.target
